{
  "organization": "<%= config[:prod_organization] %>",
  "GDC_PROJECT_ID": "<%= project_id %>",
  "CLIENT_GDC_PROTOCOL": "https",
  "CLIENT_GDC_HOSTNAME": "<%= config[:prod_server] %>",
  "gd_encoded_params": {
    "GDC_USERNAME": "${username}",
    "GDC_PASSWORD": "${password}",
    "aws_client": {
      "access_key_id": "foo",
      "secret_access_key": "foo",
      "endpoint": "<%= s3_endpoint %>"
    },
    "input_source": {
      "type": "s3",
      "key": "<%= s3_key %>",
      "bucket": "<%= s3_bucket %>"
    }
  },
  "fail_early": "true",
  "strict": "true",
  "username": "<%= config[:username] %>",
  "password": "<%= config[:password] %>",
  "sync_mode": "<%= sync_mode %>",
  "data_product": "<%= data_product %>",
  <% if splunk_logging %>
  "SPLUNK_LOGGING": "<%= splunk_logging %>",
  <% end %>
  <% if splunk_log_path %>
  "SPLUNK_LOG_PATH": "<%= splunk_log_path %>"
  <% end %>
}
